<div class="container">
    <div class="row">
        <div ng-repeat="chance in chances.chances" class="col-sm-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h2 class="chances-title">De {{chance.departure}} A {{ chance.destination}}</h2>
                </div>
                <div class="panel-body">
                    <p>
                        <i class="mdi-notification-event-note"> {{ chance.date}}</i>
                    </p>
                    <p>
                        <i class="mdi-editor-attach-money"> {{ chance.fee}}</i>
                    </p>
                    <p>
                        <i class="mdi-image-timer"> {{chance.hour}}</i>
                    </p>
                    <p>
                        <i class="mdi-notification-drive-eta"> {{chance.capacity}}</i>
                    </p>
                    <p>
                        <i class="mdi-maps-directions"> {{ chance.route | RouteFilter }}</i>
                    </p>
                    <p class="capitalize">
                        <i class="mdi-notification-sms"> {{chance.comments}}</i>
                    </p>
                </div>
                <div class="panel-footer">
                    ¿Quieres tomar este chance?
                </div>
            </div>
        </div>
    </div>
</div>