<div class="container">
    <div class="row">
        <div ng-repeat="vehicle in vehicles.vehicle" class="col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h2>{{ vehicle.brand}} {{vehicle.model}}</h2>
                </div>
                <div class="panel-body">
                    <p><i class="mdi-maps-local-offer"> {{ vehicle.plate }}</i></p>
                    <p><i class="mdi-notification-drive-eta"> {{vehicle.capacity }}</i></p>
                </div>
            </div>
        </div>
    </div>
</div>