<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <script src="../js/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="../js/bootstrap.min.js"></script>
        <link href="../css/bootstrap.min.css" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.1/angular.min.js"></script>
        <script src="../js/app.js"></script>
        <script src="../js/directives/front-chance.js"></script>
        <script src="../js/lib/angular-route.min.js"></script>
        <script src="../js/controller/controller.js"></script>
        <title>Chances</title>

    </head>
    <body>
    <!-- menu principal de la app -->
        <main-menu></main-menu>

        <div class="container">
            <div class="col-md-3">
                <div class="row">

                    <div class="thumbnail" id="table_people">
                        <img data-src="holder.js/100%x200" alt="100%x200" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNDIiIGhlaWdodD0iMjAwIj48cmVjdCB3aWR0aD0iMjQyIiBoZWlnaHQ9IjIwMCIgZmlsbD0iI2VlZSIvPjx0ZXh0IHRleHQtYW5jaG9yPSJtaWRkbGUiIHg9IjEyMSIgeT0iMTAwIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjE1cHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+MjQyeDIwMDwvdGV4dD48L3N2Zz4=" style="height: 200px; width: 100%; display: block;">
                        <div class="caption">
                            <h3>Juan Perez</h3>
                            <p>...</p>
                            <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <ul class="nav nav-pills nav-stacked">
                        <li class="active"><a> Nombre </a></li>
                        <li> <a> Chances </a> </li>
                        <li> <a> Vehiculos </a> </li>
                        <li> <a> <span class="badge pull-right">42</span> Amigos </a> </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-9">
                <div class="row" id="title_home">
                    <div class="col-md-12">
                        <h1>New Chance</h1>
                    </div>

                    <div class="col-md-6">
                        <label for="destination" ><h3> Destination</h3></label>
                        <input type="text" class="form-control" placeholder="Destination">                       
                    </div>
                    <div class="col-md-6">
                        <label for="departure" ><h3> Departure</h3></label>
                        <input type="text" class="form-control" placeholder="Departure">                       
                    </div>
                    <div class="col-md-6">
                        <label for="date" ><h3> Date</h3></label>
                        <input type="text" class="form-control" placeholder="Date">                       
                    </div>
                    <div class="col-md-6">
                        <label for="hour" ><h3>Hour</h3></label>
                        <input type="text" class="form-control" placeholder="Hour">                       
                    </div>
                    <div class="col-md-6">
                        <label for="capacity" > <h3> Capacity</h3></label>
                        <input type="text" class="form-control" placeholder="Capacity">                       
                    </div>
                    <div class="col-md-6">
                        <label for="type" > <h3> Select vehicle</h3></label>
                       		<select class="form-control">
							  <option>Select vehicle</option>
							  <option>Lorem ipsum</option>
							  <option>Lorem ipsum</option>
							  <option>Lorem ipsum</option>
							  <option>Lorem ipsum</option>
							</select>
						
                    </div>
                    <div class="col-md-12">
                        <label for="fee" > <h3> Comments</h3></label>
                        <textarea class="form-control" rows="3"></textarea>
                    </div>
                </div>
                <div class="row">
                    <p>
                        <button type="button" class="btn btn-primary btn-lg">submit</button>
                        <button type="button" class="btn btn-default btn-lg">reset</button>
                    </p>

                </div>

            </div>
        </div>


        <div id="container_vehicles">






        </div>               
    </div>
</div>
</body>

</html>
