
   <div class="col-md-9">
                <div class="row" id="title_home">
                    <div class="col-md-12">
                        <h1>New Chance</h1>
                    </div>

                    <div class="col-md-6">
                        <label for="destination" ><h3> Destination</h3></label>
                        <input type="text" class="form-control" placeholder="Destination">                       
                    </div>
                    <div class="col-md-6">
                        <label for="departure" ><h3> Departure</h3></label>
                        <input type="text" class="form-control" placeholder="Departure">                       
                    </div>
                    <div class="col-md-6">
                        <label for="date" ><h3> Date</h3></label>
                        <input type="text" class="form-control" placeholder="Date">                       
                    </div>
                    <div class="col-md-6">
                        <label for="hour" ><h3>Hour</h3></label>
                        <input type="text" class="form-control" placeholder="Hour">                       
                    </div>
                    <div class="col-md-6">
                        <label for="capacity" > <h3> Capacity</h3></label>
                        <input type="text" class="form-control" placeholder="Capacity">                       
                    </div>
                    <div class="col-md-6">
                        <label for="type" > <h3> Select vehicle</h3></label>
                       		<select class="form-control">
							  <option>Select vehicle</option>
							  <option>Lorem ipsum</option>
							  <option>Lorem ipsum</option>
							  <option>Lorem ipsum</option>
							  <option>Lorem ipsum</option>
							</select>
						
                    </div>
                    <div class="col-md-12">
                        <label for="fee" > <h3> Comments</h3></label>
                        <textarea class="form-control" rows="3"></textarea>
                    </div>
                </div>
                <div class="row">
                    <p>
                        <button type="button" class="btn btn-primary btn-lg">submit</button>
                        <button type="button" class="btn btn-default btn-lg">reset</button>
                    </p>

                </div>

            </div>
