<!DOCTYPE html>
<html ng-app="chanceApp">
    <head lang="en">
        <meta charset="UTF-8">
        <script type="text/javascript" src="../js/jquery.min.js"></script>
        <script type="text/javascript" src="../js/angular.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script type="text/javascript" src="../js/bootstrap.min.js"></script>
        <link href="../css/bootstrap.min.css" rel="stylesheet">
        <link href="../css/style.css" rel="stylesheet">
        <!--
        <script type="text"https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.1/angular.min.js"></script>
        -->
        <script type="text/javascript" src="../js/app.js"></script>
        <script type="text/javascript" src="../js/controllers.js"></script>
        <title> Profile Vehicles</title>
    </head>
    <body>
		<div ng-controller="VehicleController as vehiclectrl">
			<header>
			
			</header>
            <div class="col-md-9">
                <div class="row" id="title_home">
                    <div class="col-md-12">
						<div ng-init="name='Profile Vehicles'">
							<h1> {{name}}</h1>
						</div>                       
                    </div>
                    <div class="col-md-8"></div>
                    <div class="col-md-4">
						<div ng-init="button='New Vehicles'">
							<button type="button" class="btn btn-primary btn-lg btn-block btn btn-success">{{button}} </button>
						</div>
					</div>
                </div> 
            </div>
            <div  class= "container">
                <div class="col-md-9">
                    <div id="container_chances">
                        <div class="row">
                            <div  ng-repeat="dato in datos" class="data">
                                <div id="table_info" ng-click="load_vehicle()">
                                    <div class="media">
                                        <div class="col-md-12">
                                            <div class="media-body">												
												<div class="col-md-4">
													<div ng-init="id='Id:'">	
														<h4 class="media-heading">{{id}}{{dato.id}}</h4>
													</div>
												</div>												
												<div class="col-md-4">
													<div ng-init="plate='Plate:'">
														<h4 class="media-heading"> {{plate}} "{{dato.plate}}"</h4>
													</div>
												</div>
												<div class="col-md-4">
													<div ng-init="capacity='Capacity:'">
														<h4 class="media-heading">{{capacity}}{{ dato.capacity}}</h4>
													</div>
												</div>
                                                <br>
												<div class="col-md-12">
													<div ng-init="content='Nombre - Placa Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu'">
														{{content}}
													</div>
												</div>
                                                <br>
                                                <div class="col-lg-8">
													<div class="col-md-4">
														<div ng-init="button='Edit Vehicles'">
															<button type="button" class="btn btn-default btn-sm">{{button}}</button>
														</div>
													</div>
													<div class="col-md-4">
														<div ng-init="button='Delete Vehicles'">
															<button type="button" class="btn btn-default btn-sm">{{button}}</button>
														</div>
													</div>
												</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
		<footer>
		
		</footer>
        </div>
    </body>
</html>



